* {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
nav {
    display: flex;
    background: #f1f1f1;
    height: 80px;
    width: 100%;
}
#nav-title {
   
    color: rgb(91, 172, 131);
    font-size: 30px;
    line-height: 50px;
    padding: 0 100px;
   
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
    
}
nav ul li a {
   color: black;
   font-size: 15px;
}