* {
padding: 0;
margin: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1f1f1;
    height: 70px;
    width: 100%;
}
#nav-title {
   display: flex;
   margin-left: 30px;
    color: rgb(91, 172, 131);
    font-size: 30px;
    line-height: 50px;
}
nav ul {
    display: flex;   
    margin-right: 30px;
}

nav ul li {
     margin: 0 15px;
}
nav ul li a {
   color: black;
   font-size: 15px;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: rgb(236, 238, 241);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#reservation  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    margin-top: 50px;
}

#box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;

}
#trip {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 0;
    width: 100%;
} 
#date {
    width: 100%;
    align-self: center;
    margin-top:30px;
    display:flex;
    justify-content: center;
}

#date-selection{
    width:80%;
}

.input-trip {
    background-color: rgb(234, 234, 234);
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 5px;
    margin: 0px auto;
    padding-left:10px;
}

hr{
    width: 80%;
    margin: auto;
}

#search-button {
    
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    background-color:rgb(91, 172, 131); ;
    margin-top: 30px;
}

#visualisation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    height: 400px;
    margin-top: 50px;
    overflow: scroll;
}

#text-content {
    padding-top: 30px;
    text-align: center;
    color: #f1f1f1;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    padding-bottom: 10px;
}

#white-box{
    background-color: white;
    margin-top: auto;
    width: 70%;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#title{
    margin-top: 10px;
    margin-bottom : 50px;
}

#blue-box{
    background-color: rgb(2, 2, 68);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: auto;
    width: 70%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#purchase-btn{
    margin-right: 100px;
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color:rgb(91, 172, 131);
}

#total{
    color: white;
    margin-left: 100px;
}
#logo {
    height: 150px;
}

#text-logo {
    width: 100%;
    border-top: 2px solid rgb(91, 172, 131);
    padding-top: 10px;
    padding-bottom: 30px;
    
}

#bookings-container{
    background-color: white;
    margin: auto;
    width: 70%;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

#footer{
    border-top: solid 2px grey;
    padding-top:30px;
    padding-bottom: 30px;
}

.journey{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
    margin-top: 10px;
    font-size: 10px;
    width: 90%;
    height: 70px;
    padding: 10px;
    border-radius: 10px;
}

.book-btn{
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    width: 50px;
    height: 30px;
    background-color:rgb(91, 172, 131); ;
}

.journey-cart{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(234, 234, 234);
    height : 50px;
    width: 800px;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

.delete-btn{
    color: #f1f1f1;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background-color:rgb(91, 172, 131); ;
}